<header class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 mt-2 mb-2">
        <h1>Newshore</h1>
      </div>
    </div>
  </div>
</header>
  
<div class="banner-container">
</div>
<div class="container d-flex justify-content-center align-items-center my-4">
	<form (ngSubmit)="calculateJourney(currency)" #journeyForm="ngForm">
			<div class="form-group">
				<label class="mr-2" for="originInput">Origen:</label>
				<input class="pl-1" id="originInput" type="text" name="origin" [(ngModel)]="origin" maxlength="3" required (input)="onInputToUpper($event)">
			</div>
			<div class="form-group">
				<label class="mr-2" for="destinationInput">Destino:</label>
				<input class="pl-1" id="destinationInput" type="text" name="destination" [(ngModel)]="destination" maxlength="3" required (input)="onInputToUpper($event)">
			</div>
			<div class="form-group">
				<label class="mr-2" for="currencySelect">Moneda:</label>
				<select class="pl-1" id="currencySelect" name="currency" [(ngModel)]="currency" (change)="resetJourney()" required>
					<option value="USD">USD</option>
					<option value="EUR">EUR</option>
					<option value="GBP">GBP</option>
				</select>
			</div>
			<button class="search-button" type="submit" [disabled]="!journeyForm.valid">Buscar ruta</button>
		</form>
</div>

<div class="text-center" *ngIf="isLoading">
	<p>Cargando...</p>
</div>

<div class="text-center" *ngIf="!hasData">
	<p>Su consulta no pudo ser procesada.</p>
</div>

<div class="mb-5 flight-detail-container justify-content-center align-items-center my-4" *ngIf="journey">
	<div>
		<h4>Vuelo:</h4>
		<p>Origen: {{ journey.origin }}</p>
		<p>Destino: {{ journey.destination }}</p>
		<p *ngIf="currency === 'USD'">Precio Total: ${{ journey.price }}</p>
		<p *ngIf="currency === 'EUR'">Precio Total: €{{ journey.price }}</p>
		<p *ngIf="currency === 'GBP'">Precio Total: £{{ journey.price }}</p>
	</div>
	<div class="pt-2">
		<h4>Ruta de vuelo:</h4>
		<ul>
			<li *ngFor="let flight of journey.flights">
				<p>Transporte: {{ flight.transport.flightCarrier }} - {{ flight.transport.flightNumber }}</p>
				<p>Origen: {{ flight.departureStation }}</p>
				<p>Destino: {{ flight.arrivalStation }}</p>
				<p *ngIf="currency === 'USD'">Precio: ${{ flight.price }}</p>
				<p *ngIf="currency === 'EUR'">Precio: €{{ flight.price }}</p>
				<p *ngIf="currency === 'GBP'">Precio: £{{ flight.price }}</p>
			</li>
		</ul>
	</div>
</div>

<footer class="container-fluid footer">
  <div>
    <div class="row">
      <div class="col text-center">
        <p>&copy; 2023 Todos los derechos reservados.</p>
      </div>
    </div>
  </div>
</footer>
