.container {
	background-color: #9caec4;
	color: white;
}

.container {
	padding: 1.25rem;
}

.flight-detail-container {
	padding-left: 8.44rem;
}

.large-button, .small-button {
  background-color: #17203d;
  color: #fff;
}

.search-button:disabled {
	background-color: lightgray;
	color: black;
	border-radius: 0.63rem;
	padding: 0.63rem;
}

.banner-container {
	background: url('https://i.imgur.com/0oQWHNt.jpg') no-repeat;
  padding: 10px;
	width: 100%;
	height: 16.25rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
	font-weight: bold;
}

.header, .footer, .form-header {
  background-color: #17203d;
  color: white;
}

.footer {
  flex-shrink: 0;
  padding: 0.63rem 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.form-header {
  font-size: 1.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem
}

.text-field {
	border: none;
	border-radius: 0.31rem;
}

.large-button:disabled,
.search-button:disabled {
	.small-button:disabled {
		opacity: .7;
			background-color: lightgray;	
	}
}

.form-container {
  position: relative;
  bottom: 4.25rem;
}
.search-container {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem
}

.bottom-space {
	padding-bottom: 6.25rem;
}

p {
	margin-bottom: 0.25rem;
}

li {
	margin-left: 1.25rem;
}

@media (max-width: 600px) {
  .flight-detail-container {
		padding-left: 2.81rem;
	}
}

@media (min-width: 575px) {
  .large-button {
    display: none;
  }
}
@media (max-width: 575px) {
  .small-button {
    display: none;
  }
  .large-button {
    width: 100%;
  }
}